@import '../../scss/variables';

.SignUpPage {

    padding: 1em 0;

    h2 {
        color: $primaryColor;
        text-align: center;
        margin-top: 1.5em;
    }
}

.SignUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;

    input {
        width: 40%;
    }

    button {
        margin-top: 3em;
        width: 30%;
    }

    a {
        margin-top: 1em;
        width: 25%;
    }
}