@import '../../../scss/variables';

.Contact {
    margin-bottom: 1.5em;
    width: 100%;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        a {
            background-color: rgba($secondaryColor, 0.3);
            border-radius: 15px;
        }
    }
}

.Contact > a {    
    display: grid;
    grid-template-columns: 2fr 6fr 1fr auto;
    align-items: center;
    justify-items: flex-start;
    color: $primaryColor;
    column-gap: .5em;
    padding: .5em 0;
    transition: all 200ms ease-in-out;
    word-break: break-all;

    img {
        border-radius: 50%;
    }

    img, h3, span {
        pointer-events: none;
    }

    * {
        font-family: $secondaryFont;
        font-weight: 600;
    }
}

.StatusDot {
    height: 10px;
    width:  10px;
    border-radius: 100em;
}

.Online {
    background-color: #499747;
}

.Offline {
    background-color: $secondaryColor;
}

.Selected {
    background-color: rgba($tertiaryColor, 0.5);
    border-radius: 15px;
    
}