@import '../../scss/variables';

.Primary, .Secondary {
    padding: 1.25em .5em;
    border-radius: 10px;
    font-size: 1rem;
}

.Primary {
    background-color: $secondaryColor;
    color: $whiteColor;
    width: 80%;
}

.Secondary {
    color: $primaryColor;
    background-color: $bgColor;
    border: 2px $primaryColor solid;
    width: 60%;
}

.TabMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25em .25em;
    transition: all 250ms ease-in-out;
    border-radius: 50%;

    &:hover {
        background-color: rgba($bgColor, 0.5);
    }

    span {
        background-color: $whiteColor;
        width: .5em;
        height: .5em;
        display: block;
        margin: 0 .2em;
        border-radius: 50%;
    }
}