@import './scss/variables.scss';

.App {
    height: 100%;
    padding: ($d-pad);
    overflow: auto;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: $primaryFont;
    font-weight: 400;
}

h1, h2, h3 {
    font-family: $primaryFont;
    font-weight: 500;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.15rem;
}

p {
    font-size: 1rem;
}

input, select {
    border: none;
    background: none;
    outline: none;
    font-family: $secondaryFont;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: $primaryFont;
}